@charset "utf-8";
/* CSS Document */
body{
	font-family:arial;
	font-size:30px;
	color:#CC9;
	line-height:20px;
	}
.contain{
	background:#666;
	width:80%;
	height:auto;
	margin:0 auto;
	padding:5px 10px;

	}
.mainContain{
	background:#fff;
	min-height:400px;
	margin:10px;
	padding:5px 10px;}
.left{
	background:#990;
	width:30%;
	min-height:400px;
	float:left;}
.right{
	background:#63C;
	width:70%;
	min-height:400px;
	float:left;}
.header, .footer{
	text-align:center;
	padding:10px;
	}